<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- namespace：命名空间，用于隔离sql，还有一个很重要的作用，后面会讲 -->
<mapper namespace="com.haochuang.demobulb.dao.BulbMapper">
    <!-- id:statement的id 或者叫做sql的id-->
    <!-- parameterType:声明输入参数的类型 -->
    <!-- resultType:声明输出结果的类型，应该填写pojo的全路径 -->
    <!-- #{}：输入参数的占位符，相当于jdbc的？ -->

    <resultMap id="Base" type="com.haochuang.demobulb.bean.Bulb">
        <id column="id"  property="id" jdbcType="BIGINT"/>
        <result column="devicename"  property="deviceName" jdbcType="VARCHAR"/>
        <result column="isoppen"  property="isOppen" jdbcType="BIGINT"/>
        <result column="isonline"  property="isOnline" jdbcType="BIGINT"/>
        <result column="wattage"  property="wattage" jdbcType="Float"/>
        <result column="timingopen"  property="timingOpen" jdbcType="VARCHAR"/>
        <result column="particulars"  property="particulars" jdbcType="VARCHAR"/>
    </resultMap>





</mapper>
