<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
<h1>测试方法</h1>


        <div>


            <div> 设备ID:<span th:text="${session.shorts[0]}"></span></div>
        <div>开关:<span th:text="${session.shorts[1]}"></span></div>
        <div>在线状态:<span th:text="${session.shorts[2]}"></span></div>
        <div>瓦数:<span th:text="${session.shorts[3]}"></span></div>


        </div>








<form class="xieru" method="post" action="/charu">
    id： <input name="values" th:value="${session.shorts[0]}">
    开/关： <input name="values">
    设备在线状态： <input name="values">
    瓦数： <input name="values">

    <input class="tijiao" type="submit" value="确认修改">
</form>

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>


</body>
</html>