<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
<h1>测试方法</h1>
<div th:each="indexs:${session.shorts}">
    <p th:text="${indexs}"></p>
</div>


<form class="xieru" method="post" action="/charu">
    权限： <input name="values">
    状态： <input name="values">
    模式： <input name="values">
    温度： <input name="values">
    风速： <input name="values">
    <input class="tijiao" type="submit" value="确认修改">
</form>

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<!--<script>-->
<!--    $(".tijiao").click(function () {-->
<!--        $.post("/charu",$(".xieru").serialize(),function (data) {-->
<!--        alert(data)-->
<!--        })-->
<!--    });-->

<!--</script>-->

</body>
</html>